---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Productos"
    description="Tienda de artículos de decoración"
>
<div id="modal-user-component-container" class="flex inset-0 justify-center">
    <div
        class="modal-user-flex-container flex items-end justify-center mt-40 pt-4 px-4 pb-20 text-center"
    >
        <div class="modal-user-bg-container fixed inset-0 bg-claro">
        </div>
        <div class="modal-user-space-container inline-block align-middle"></div>
        <div
            class="modal-user-container inline-block align-bottom bg-white rounded-lg overflow-hidden shadow-xl transform transition-all"
            id="modal-user-container"
        >
            <div class="modal-user-wrapper bg-white px-4 pt-5 pb-4 ">
                <div class="modal-user-wrapper-flex">
                    <div class="modal-user-content text-center mt-3">
                        <h1 class="text-3xl">Crea tu nueva cuenta</h1>
                        <form
                            class="flex flex-col text-3xl m-10 items-center justify-center"
                            id="frm-email"
                            onreset="formulario"
                        >
                        <label for="nombre"></label>
                        <input
                            class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro mb-10"
                            type="text"
                            name="nombre"
                            id="nombre"
                            placeholder="Nombre y apellido"
                            size="50px"
                            required
                        />
                            <label for="email"></label>
                            <input
                                class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro mb-10"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Email"
                                size="50px"
                                required
                            />
                            <label for="telefono"></label>
                        <input
                            class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro mb-10"
                            type="text"
                            name="telefono"
                            id="telefono"
                            placeholder="Teléfono"
                            size="50px"
                            required
                        />
                            <label for="password"></label>
                            <input
                                class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro mb-10"
                                type="password"
                                name="password"
                                placeholder="Contraseña"
                                size="50px"
                                id="password"
                                required
                            />
                            <label for="passwordConfirm"></label>
                            <input
                                class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro"
                                type="password"
                                name="passwordConfirm"
                                placeholder="Confirmar contraseña"
                                size="50px"
                                id="passwordConfirm"
                                required
                            />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-user-actions px-14 py-3 mb-10">
                    <button
                    class="w-full mt-0 inline-flex justify-center rounded-md border border-medioBajo shadow-md px-4 py-2 bg-medioAlto font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-claro transition-all"
                    >Crear cuenta</button
                >
            </div>
        </div>
    </div>
</div>
</Layout>