---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Nosotros"
    description="Quienes hacemos Zoe Deco&Home"
>
<div class="h-screen inset-0 flex flex-col items-center justify-center gap-20 bg-medioAlto">
    <h1 class="text-black text-8xl">PRÓXIMAMENTE</h1>
</div>
</Layout>