---
import Layout from "../layouts/Layout.astro";
import CarruselProductos from "../components/CarruselProductos.astro";
import { productos } from "../data/productos";

const carruselProductos = [...productos];
const { producto } = Astro.props;
---

<Layout title="Productos" description="Tienda de artículos de decoración">
    <section class="pt-32 bg-claro">
        <div class="text-center mt-10 mb-16">
            <h3 class="text-black text-6xl font-light">Productos</h3>
        </div>
        <div class="store-wrapper" >
            <div class="category_list flex justify-center mb-10">
                <a
                    href="#"
                    id="all"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Todo</a
                >
                <a
                    href="#"
                    id="vela"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Velas</a
                >
                <a
                    href="#"
                    id="difusor"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Difusores</a
                >
                <a
                    href="#"
                    id="refill"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Refill</a
                >
                <a
                    href="#"
                    id="macrame"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Macramé</a
                >
                <a
                    href="#"
                    id="ceramica"
                    class="px-10 hover:scale-110 transition-all text-black hover:text-medioAlto category_item"
                    >Cerámica</a
                >
            </div>
        </div>
        <article class="flex justify-center" >
            <div class="grid grid-cols-3 mb-4" id="vela">
                {
                carruselProductos.map((producto) => (
                    <CarruselProductos producto={producto} />
                ))
            }
            </div>
        </article>
    </section>
</Layout>
<style>
    .category_list .ct_item-active {
        color: black;
        font-weight: bold;
        font-size: larger;
    }
</style>
<script>
    import { productos } from "../data/productos";

    const vela = document.querySelector("#vela");

    document.addEventListener("DOMContentLoaded", () => {
        mostrarProductos();

        function mostrarProductos() {
            productos.forEach((producto) => {
                const productoHTML = document.createElement("");
                productoHTML.textContent = `
            ${producto.nombre}
        `;

                vela.appendChild(productoHTML);
            });
        }
    });
</script>
