---
import Instagram from "./Icon/Instagram.astro";
import Whatsapp from "./Icon/Whatsapp.astro";
---
<footer class="relative flex w-full justify-around px-12 h-52 bg-[#BF7D56] items-center">
    
    <nav class="flex flex-wrap gap-32 text-xl m-16 text-white">
        <a href="#productosDestacados">Productos Destacados</a>
        <a href="/">Nosotros</a>
    </nav>    
    <div>
        <a href="/">
            <img src="/img/logo/Logo-zoe-blanco.png" alt="logo" width="150px">
        </a>
    </div>
    <nav class="flex flex-wrap gap-40 text-xl m-16 text-white">
        <a href="/">Contacto</a>
        <a href="https://www.instagram.com/zoe.deco.home/" target="_blank"><Instagram class="text-white"/></a>
        <a href="https://wa.me/5491165697756" target="_blank"><Whatsapp class="text-white"/></a>
    </nav>
</footer>