---
import Instagram from "./Icon/Instagram.astro";
import Whatsapp from "./Icon/Whatsapp.astro";
---

<footer
    class="relative flex w-full justify-around px-12 h-52 bg-[#BF7D56] items-center"
>
    <nav class="flex flex-wrap gap-32 text-2xl m-16 text-white font-medium">
        <a class="hover:scale-110 transition-all" href="#productosDestacados"
            >Productos Destacados</a
        >
        <a class="hover:scale-110 transition-all" href="/">Nosotros</a>
    </nav>
    <div>
        <a href="/">
            <img
                class="hover:scale-110 transition-all"
                src="/img/logo/Logo-zoe-blanco.png"
                alt="logo"
                width="180px"
            />
        </a>
    </div>
    <nav class="flex flex-wrap gap-40 text-2xl m-16 text-white font-medium">
        <a class="hover:scale-110 transition-all" href="/">Contacto</a>
        <a
            class="hover:scale-110 transition-all"
            href="https://www.instagram.com/zoe.deco.home/"
            target="_blank"
            ><Instagram class="text-white hover:text-[#E1306C]" /></a
        >
        <a
            class="hover:scale-110 transition-all"
            href="https://wa.me/5491165697756"
            target="_blank"
            ><Whatsapp class="text-white hover:text-[#00bb2d]" /></a
        >
    </nav>
</footer>
