---
import Carrito from "./Icon/Carrito.astro";
import Cruz from "./Icon/Cruz.astro";
import Search from "./Icon/Search.astro";
import User from "./Icon/User.astro";
---

<header
    class="fixed flex-col w-full px-10 h-48 bg-claro border border-b-medioBajo"
    id="nav-bar"
>
    <div class="ml-2 flex">
        <a href="/">
            <img src="/img/logo/Logo-zoe.png" alt="logo" width="180px" />
        </a>
        <div class="flex items-center ml-72 ">
        <a class="mt-10 mr-5 text-black transition-all hover:text-medioAlto"
                href="/miCompra"><Carrito /></a>
                <nav
                class="text-black mt-6 -mr-4 hover:text-medioAlto transition-all"
                data-id="menu"
            >
                <ul>
                    <li class="link-parent">
                        <a href="src/components/ModalLogin.astro" class="flex justify-center" data-dropdown
                            ><User /></a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <nav class="flex flex-row justify-evenly gap-8 mt-2">
        <a
            class="hover:scale-110 transition-all text-black hover:text-medioAlto text-lg font-medium"
            href="/productos">Productos</a
        >
        <a
            class="hover:scale-110 transition-all text-black hover:text-medioAlto text-lg font-medium"
            href="/nosotros">Nosotros</a
        >
        <a
            class="hover:scale-110 transition-all text-black hover:text-medioAlto text-lg font-medium"
            href="/contacto">Contacto</a
        >
    </nav>
    <div class="w-1/7 max-auto mt-10 ml-4" hidden>
        <div class="relative shadow-md rounded-lg">
            <input
                type="text"
                id="search"
                class="rounded-lg border-medioBajo outline-none focus:border-medioAlto focus:ring-1 focus:ring-medioAlto h-8"
            />
            <button
                id="btn-search"
                class="text-medioBajo text-lg px-2 rounded-lg absolute end-4 bottom-1 hover:text-medioAlto"
                ><Search /></button
            >
            <button
                id="btn-delete"
                type="reset"
                class="text-medioBajo text-lg  rounded-lg absolute end-1 bottom-1 mb-1 hover:text-medioAlto"
                ><Cruz /></button
            >
        </div>
        <div class="absolute px-3 bg-white rounded-md w-44 my-2"><ul class="grid grid-cols-2" id="results"></ul></div>
    </div>
    <div class="w-1/7 max-auto mt-10 ml-4 hover:scale-110 transition-all hidden">
        <a
            class="text-black transition-all hover:text-medioAlto"
            href="/miCompra"><Carrito /></a>
    </div>
    <nav
        class="text-black mt-6 -mr-4 hover:text-medioAlto transition-all hidden"
        data-id="menu"
    >
        <ul>
            <li class="link-parent">
                <a href="#" class="flex justify-center" data-dropdown
                    ><User /></a
                >
                <ul class="link-child">
                    <li class="hover:text-medioAlto">
                        <a href="#" id="open-modal">Iniciar sesión</a>
                    </li>
                    <li class="hover:text-medioAlto">
                        <a href="#" id="open-modal-user">Crear cuenta</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<style>
    .sinBorde:focus {
        border: none;
    }
    #nav-bar {
        z-index: 1;
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }
    @keyframes blur {
        to {
            color: white;
            box-shadow:
                0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
                0px 0px 0px 1px hsla(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
        }
    }

    @keyframes underlineAnimation {
        from {
            width: 0;
            opacity: 0;
        }
        to {
            width: 100%;
            opacity: 1;
        }
    }
    .underline-animated {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
    }
    .underline-animated::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: currentColor;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom left;
    }
    .underline-animated:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .link-parent {
        @apply grid grid-rows-[max-content_0fr]
        overflow-hidden transition-[grid-template-rows]
        cursor-pointer data-[toggle]:grid-rows-[max-content_1fr];
    }
    .link-child {
        @apply overflow-hidden text-black text-sm;
    }
</style>
<script>
    const navigation = document.querySelector("[data-id='menu']");

    navigation.addEventListener("click", function (e) {
        const currentElement = e.target as HTMLElement;

        if (currentElement.matches("[data-dropdown],[data-dropdown] *")) {
            const parentLi = currentElement.closest("li");

            if (parentLi.matches("[data-toggle]")) {
                parentLi.removeAttribute("data-toggle");
            } else {
                parentLi.setAttribute("data-toggle", "");
            }
        }
    });

    import { productos } from "../data/productos";

    const buttonSearch = document.querySelector("#btn-search");

    buttonSearch.addEventListener("click", buscar);

    const buttonDelete = document.querySelector("#btn-delete");

    buttonDelete.addEventListener("click", eliminar);

    function eliminar() {
                
                document.getElementById("results").innerHTML = "";
    }

    function buscar() {
        let query = (document.getElementById("search") as HTMLInputElement)
            .value;

        console.log(query);

        if (query.trim() === "") {
            return;
        }

        let results = [];

        for (let i = 0; i < productos.length; i++) {
            if (productos[i].categoria.toLowerCase().includes(query.toLowerCase()) || 
                productos[i].nombre.toLowerCase().includes(query.toLowerCase()) ||
                productos[i].aroma.toLowerCase().includes(query.toLowerCase()) ||
                productos[i].color.toLowerCase().includes(query.toLowerCase()) ||
                productos[i].tamaño.toLowerCase().includes(query.toLowerCase())) {
                results.push(productos[i].nombre);
            }
        }

        document.getElementById("results").innerHTML = "";

        if (results.length > 0) {
            for (let i = 0; i < results.length; i++) {
                let a = document.createElement("a");
                let image = document.createElement("img")
                image.setAttribute("src", `${productos[i].imagen}`)
                image.setAttribute("class", "ml-2 my-1 size-8")
                a.setAttribute("class", "my-1 -ml-5 hover:text-medioAlto transition-all text-lg font-medium");
                a.setAttribute("href", "/productos");
                a.textContent = results[i];
                document.getElementById("results").appendChild(image);
                document.getElementById("results").appendChild(a);
                
            }
        } else {
            let a = document.createElement("a");
            a.textContent = "No se encontraron productos para: " + query;
            document.getElementById("results").appendChild(a);
        }
    }
</script>
