---
import Search from "./Icon/Search.astro"
import User from "./Icon/User.astro"
---

<header
    class="fixed flex w-full justify-between px-12 h-28 items-center bg-claro"
    id="nav-bar"
>
    <div>
        <a href="/">
            <img src="/img/logo/Logo-zoe.png" alt="logo" width="150px" />
        </a>
    </div>
    <nav class="flex flex-wrap gap-5 pl-[1000px] mt-10">
        <a class="underline-animated" href="/">Productos</a>
        <a class="underline-animated" href="/">Nosotros</a>
        <a class="underline-animated" href="/">Contacto</a>
        <a class="underline-animated" href="/">Mi compra</a>
        
    </nav>
    <div class="w-1/7 max-auto mt-10">
        <form action="">
        <div class="relative shadow-md rounded-lg">
        <input type="search" id="search" class="rounded-lg border-medioBajo outline-none focus:border-medioAlto focus:ring-1 focus:ring-medioAlto h-8">
        <button type="submit" class="text-medioBajo text-lg px-2 rounded-lg absolute end-1 bottom-1 hover:text-medioAlto"><Search/></button>
        </div>
        </form>
    </div>
    <div class="text-medioBajo mt-10 hover:scale-110 transition-all hover:text-medioAlto" >
        <a href="/"><User/></a>
    </div>
</header>
<style>
    .sinBorde:focus{
                border: none;

    }
    #nav-bar {
        z-index: 1;
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }
    @keyframes blur {
        to {
            color: white;
            box-shadow:
                0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
                0px 0px 0px 1px hsla(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
        }
    }

    @keyframes underlineAnimation {
        from {
            width: 0;
            opacity: 0;
        }
        to {
            width: 100%;
            opacity: 1;
        }
    }
    .underline-animated {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
    }
    .underline-animated::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: currentColor;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom left;
    }
    .underline-animated:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
</style>
