---

---

<section class="pt-8">
    <!-- <div class="text-center mb-24" >
        <h3 class="text-black text-6xl font-light" >Categorías</h3>
    </div> -->
    <div class="flex justify-around px-2 h-24">
        <nav class="flex ">
            <a href="/productos"
                ><div
                    class="flex gap-2 top-4 left-4 mx-3 border border-medioAlto bg-medioAlto text-lg rounded-full px-6 py-8 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Velas
                </div></a
            >
            <a href="/productos"
                ><div
                    class="flex gap-2 top-4 left-4 mx-3 border border-medioAlto bg-medioAlto text-lg rounded-full px-2 py-8 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Difusores
                </div></a
            >
            <a href="/productos"
                ><div
                    class="flex gap-2 top-4 left-4 mx-3 border border-medioAlto bg-medioAlto text-lg rounded-full px-6 py-8 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Refill
                </div></a
            >
            <a href="/productos"
                ><div
                    class="flex gap-2 top-4 left-4 mx-3 border border-medioAlto bg-medioAlto text-lg rounded-full px-2 py-8 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Macramé
                </div></a
            >
            <a href="/productos"
                ><div
                    class="flex gap-2 top-4 left-4 mx-3 border border-medioAlto bg-medioAlto text-lg rounded-full px-2 py-8 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Cerámica
                </div></a
            >
        </nav>
    </div>
</section>
<style></style>
