---

---

<section class="pt-32">
    <!-- <div class="text-center mb-24" >
        <h3 class="text-black text-6xl font-light" >Categorías</h3>
    </div> -->
    <div class="flex w-full justify-around px-12 h-28 items-center">
        <nav class="flex flex-wrap gap-40">
            <a href="/"
                ><div
                    class="flex gap-2 top-4 left-4 border border-medioAlto bg-medioAlto text-xl rounded-full px-14 py-16 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Velas
                </div></a
            >
            <a href="/"
                ><div
                    class="flex gap-2 top-4 left-4 border border-medioAlto bg-medioAlto text-xl rounded-full px-10 py-16 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Difusores
                </div></a
            >
            <a href="/"
                ><div
                    class="flex gap-2 top-4 left-4 border border-medioAlto bg-medioAlto text-xl rounded-full px-14 py-16 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Refill
                </div></a
            >
            <a href="/"
                ><div
                    class="flex gap-2 top-4 left-4 border border-medioAlto bg-medioAlto text-xl rounded-full px-10 py-16 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Macramé
                </div></a
            >
            <a href="/"
                ><div
                    class="flex gap-2 top-4 left-4 border border-medioAlto bg-medioAlto text-xl rounded-full px-10 py-16 font-semibold hover:bg-claro hover:text-medioAlto text-black hover:scale-110 transition-all"
                >
                    Cerámica
                </div></a
            >
        </nav>
    </div>
</section>
<style></style>
