<section class="pt-32">
    <img class="w-full h-[200px] object-cover object-center" src=/img/fotos/Velas2.png> <!--autoplay muted loop -->
</img>
    <img class="w-full h-[200px] object-cover object-center" src=/img/fotos/Velas3.png> <!--autoplay muted loop -->
</img>
    <img class="w-full h-[200px] object-cover object-center" src=/img/fotos/Velas4.png> <!--autoplay muted loop -->
</img>
    <img class="w-full h-[200px] object-cover object-center" src=/img/fotos/Velas5.png> <!--autoplay muted loop -->
</img>
</section>