---

---

<section class="pt-32" id="productosDestacados">
    <div class="overflow-hidden relative bg-[#BF7D56]">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas2.png"
        />
    </div>
    <span
        class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white font-medium m-5"
        ><a class="hover:scale-110 transition-all" href="">VELA DESTACADA</a
        ></span
    >
</section>
<div class="overflow-hidden relative bg-[#F2E0D5]">
    <img
        class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
        src="/img/fotos/Velas3.png"
    />
</div>
<span
    class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
    ><a class="hover:scale-110 transition-all" href="">DIFUSOR DESTACADO</a
    ></span
>

<div class="overflow-hidden relative bg-[#BF7D56]">
    <img
        class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
        src="/img/fotos/Velas4.png"
    />
</div>
<span
    class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white font-medium m-5"
    ><a class="hover:scale-110 transition-all" href="">MACRAMÉ DESTACADO</a
    ></span
>

<div
    class="overflow-hidden relative bg-[#F2E0D5] border-solid border-b-2 border-[#BF7D56]"
>
    <img
        class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
        src="/img/fotos/Velas5.png"
    />
</div>
<span
    class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
    ><a class="hover:scale-110 transition-all" href="">CERÁMICA DESTACADA</a
    ></span
>
