---
---
<section class="pt-32">
    <div class="overflow-hidden relative bg-[#BF7D56]">
        <img class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0" src=/img/fotos/Velas2.png></img>
            <a href=""><span class="absolute flex gap-2 top-3 left-4 text-5xl px-5 py-5 mt-9  text-white font-medium">VELA DESTACADA</span></a>
    </div>
    <div class="overflow-hidden relative bg-[#F2E0D5]">
        <img class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0" src=/img/fotos/Velas3.png></img>
            <a href=""><span class="absolute flex gap-2 top-3 left-4 text-5xl px-5 py-5 mt-9 text-black font-medium">DIFUSOR DESTACADO</span></a>
    </div>
    <div class="overflow-hidden relative bg-[#BF7D56]">
        <img class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0" src=/img/fotos/Velas4.png></img>
            <a href=""><span class="absolute flex gap-2 top-3 left-4 text-5xl px-5 py-5 mt-9  text-white font-medium">MACRAMÉ DESTACADO</span></a>
    </div>
    <div class="overflow-hidden relative bg-[#F2E0D5] border-solid border-b-2 border-[#BF7D56]">
        <img class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0" src=/img/fotos/Velas5.png></img>
            <a href=""><span class="absolute flex gap-2 top-3 left-4 text-5xl px-5 py-5 mt-9 text-black font-medium">CERÁMICA DESTACADA</span></a>
    </div>
</section>