---

---

<section class="pt-32" id="productosDestacados">
    <div class="overflow-hidden relative bg-medioAlto">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas2.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white mt-5"
            ><a class="hover:scale-110 transition-all" href="">VELA DESTACADA</a
            >
        </span>
    </div>
    <div class="overflow-hidden relative bg-claro">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas3.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
            ><a class="hover:scale-110 transition-all" href=""
                >DIFUSOR DESTACADO</a
            >
        </span>
    </div>
    <div class="overflow-hidden relative bg-medioAlto">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas4.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white font-medium m-5"
            ><a class="hover:scale-110 transition-all" href=""
                >MACRAMÉ DESTACADO</a
            >
        </span>
    </div>
    <div
        class="overflow-hidden relative bg-claro border-solid border-b-2 border-medioAlto"
    >
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas5.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
            ><a class="hover:scale-110 transition-all" href=""
                >CERÁMICA DESTACADA</a
            >
        </span>
    </div>
</section>
