---

---

<section class="pt-8" id="productosDestacados">
    <div class="overflow-hidden relative bg-medioAlto">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas2.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white font-medium m-5"
            ><a class="hover:scale-110 transition-all" href="/productos">VELAS</a
            >
        </span>
    </div>
    <div class="overflow-hidden relative bg-claro">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas3.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
            ><a class="hover:scale-110 transition-all" href="/productos"
                >DIFUSORES</a
            >
        </span>
    </div>
    <div class="overflow-hidden relative bg-medioAlto">
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas4.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white font-medium m-5"
            ><a class="hover:scale-110 transition-all" href="/productos"
                >MACRAMÉ</a
            >
        </span>
    </div>
    <div
        class="overflow-hidden relative bg-claro border-solid border-b-2 border-medioAlto"
    >
        <img
            class="w-full h-[200px] object-cover object-center hover:brightness-75 opacity-0"
            src="/img/fotos/Velas5.png"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-black font-medium m-5"
            ><a class="hover:scale-110 transition-all" href="/productos"
                >CERÁMICAS</a
            >
        </span>
    </div>
</section>
