---

---
<section>
    <img class="w-full h-screen object-cover object-center brightness-50" src=/img/heroSec.jpg> <!--autoplay muted loop -->
</img>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-8xl font-anek devanagari text-white">ZOE DECO&HOME</h1>
    </div>
</section>
<!-- -->