---

---

<!-- <section>
    <img
        class="w-full h-screen object-cover object-center brightness-50"
        src="/img/fotos/heroSec.jpg"
    />
    <!--autoplay muted loop -->
<!-- </section> -->
<!-- <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
    <h1 class="text-8xl text-white">ZOE DECO&HOME</h1>
</div> -->

<section>
    <img
        class="w-full h-screen object-cover object-center brightness-50"
        src="/img/fotos/heroSec.jpg"
        alt="Hero Section"
    />
</section>
<div class="absolute inset-0 flex flex-col items-center justify-center gap-10 md:gap-16 lg:gap-20">
    <h1 class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl text-white text-center px-4">
        ZOE DECO&HOME
    </h1>
</div>
