---

---
<section>
    <video class="w-full h-screen object-cover object-top brightness-50" src="/" autoplay muted loop>
    </video>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-5xl font-bold ">Zoe Deco&Home</h1>
    </div>
</section>