---
import ArrowRight from "../Icon/ArrowRight.astro";
---

<section class="mb-8">
    <div class="flex flex-row gap-2">
        <div class="basis-3/5 m-10 relative hidden">
            <img
                class="absolute object-cover rounded-lg"
                src="/img/fotos/Velas3.png"
                alt=""
            />
            <!-- <span
                class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white mt-5"
            >
                <a class="hover:scale-110 transition-all" href="#username"
                    >PEDINOS TU PRESUPUESTO.</a
                >
            </span> -->
        </div>
        <div class="basis-2/5 border-solid bg-white ml-24 rounded-lg py-12">
            <h1
                class="flex flex-wrap gap-32 text-4xl text-black items-center justify-center font-semibold m-5"
            >
                ¡Comprá por mayor!
            </h1>
            <form
                class="flex flex-col text-3xl m-10 items-center justify-center"
                id="frm-email"
                onreset="formulario"
            >
                <label for="nombre"></label>
                <input
                    class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro"
                    type="text"
                    name="username"
                    placeholder="Nombre"
                    size="50px"
                    id="username"
                    required
                />
                <br />
                <label for="email"></label>
                <input
                    class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    size="50px"
                    required
                />
                <br />
                <label for="mensaje"></label>
                <textarea
                    class="rounded-lg border-medioBajo outline-none focus:border-claro focus:ring-1 focus:ring-claro"
                    name="msg"
                    itemid="msg"
                    cols="50"
                    rows="4"
                    id="msg"
                    required
                    ></textarea>
                <br />
                <input
                    class="font-medium text-lg hover:bg-white rounded-lg h-10 w-96 cursor-pointer hover:scale-105 transition-all bg-medioAlto text-black border border-medioBajo"
                    type="submit"
                    value="Enviar"
                />
            </form>
        </div>
    </div>
</section>
<script>
    import Swal from "sweetalert2";
    import emailjs, { sendForm } from "@emailjs/browser";

    const frmEmail = document.getElementById("frm-email") as HTMLFormElement;
    frmEmail.addEventListener("submit", sendEmail);

    const serviceId = "service_8ryt2ap";
    const templateId = "template_s9umz0d";
    const apiKey = "eirM6edc-xYnky9uy";

    function sendEmail(event) {
        event.preventDefault();
        emailjs.init(serviceId);

        emailjs
            .sendForm(serviceId, templateId, frmEmail, apiKey)
            .then((result) =>
                Swal.fire({
                    icon: "success",
                    text: "El mensaje se ha enviado con éxito. Responderemos su consulta a la brevedad.",
                    confirmButtonColor: "#BFA995",
                    confirmButtonText: "Ok!",
                })
            .catch((result) => {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "No ha sido posible enviar el mensaje!",
                    });
                }),
            );
        frmEmail.reset();
    }
</script>