---
import ArrowRight from "../Icon/ArrowRight.astro";
---

<section>
    <div class="flex flex-row gap-2">
        <div class="basis-1/2 m-10 relative">
            <img
                class="absolute object-cover rounded-lg blur-sm"
                src="/img/fotos/Velas3.png"
                alt=""
            />
            <span
                class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-6xl text-white mt-5"
            >
                <a class="hover:scale-110 transition-all" href="#nombre"
                    >PEDINOS TU PRESUPUESTO.</a
                >
            </span>
        </div>
        <div class="basis-1/2 border-solid bg-[#BF7D56] m-10 rounded-lg">
            <h1
                class="flex flex-wrap gap-32 text-4xl text-white items-center justify-center font-semibold m-5"
            >
                ¡Comprá por mayor!
            </h1>
            <form
                action="https://formsubmit.co/matiasjoaquinmerlos@gmail.com"
                method="POST"
                class="flex flex-col text-3xl m-10 items-center justify-center"
            >
                <label for="nombre"></label>
                <input
                    class="rounded-lg border-[#79818C] outline-none focus:border-[#F2E0D5] focus:ring-1 focus:ring-[#F2E0D5]"
                    type="text"
                    name="nombre"
                    placeholder="Nombre"
                    size="50px"
                    id="nombre"
                />
                <br />
                <label for="email"></label>
                <input
                    class="rounded-lg border-[#79818C] outline-none focus:border-[#F2E0D5] focus:ring-1 focus:ring-[#F2E0D5]"
                    type="email"
                    name="email"
                    placeholder="Email"
                    size="50px"
                />
                <br />
                <label for="mensaje"></label>
                <textarea
                    class="rounded-lg border-[#79818C] outline-none focus:border-[#F2E0D5] focus:ring-1 focus:ring-[#F2E0D5]"
                    name="mensaje"
                    cols="50"
                    rows="4"
                    id=""></textarea>
                <br />
                <input
                    class="text-black text-2xl bg-white border-[#79818C] rounded-lg h-10 w-24 cursor-pointer hover:scale-110 transition-all"
                    type="submit"
                    value="Enviar"
                />
                <input
                    type="hidden"
                    name="_next"
                    value="http://localhost:4321/"
                />
            </form>
        </div>
    </div>
</section>
