---
---
<section>
    <div class="flex flex-row gap-2">
        <div class="basis-1/2 m-10"><img class="rounded-xl brightness-75" src="/img/fotos/Velas2.png" alt=""></div>
        <div class="basis-1/2 border-solid bg-[#BF7D56] m-10 rounded-xl"><h1 class="flex flex-wrap gap-32 text-4xl text-white items-center justify-center font-semibold m-5">¡Comprá por mayor!</h1>
            <form action="https://formsubmit.co/matiasjoaquinmerlos@gmail.com" method="POST" class="flex flex-col border-solid border-black text-2xl m-10 items-center justify-center">
                <label for="nombre"></label>
                <input class="rounded-xl h-10" type="text" name="nombre" placeholder="   Nombre" size="50px">
                <br>
                <label for="email"></label>
                <input class="rounded-xl h-10" type="email" name="email" placeholder="   Email" size="50px">
                <br>
                <label for="mensaje"></label>
                <textarea class="rounded-xl" name="mensaje" cols="50" rows="4" id=""></textarea>
                <br>
                <input class="text-[#BF7D56] text-2xl bg-white rounded-xl h-10 w-24 cursor-pointer" type="submit" value="Enviar">
                <input type="hidden" name="_next" value="http://localhost:4321/">
            </form>
        </div>
    </div>
</section>