---
---
<section class="pt-2 pb-2 bg-claro" id="medios-pago">
    <div class="flex flex-row gap-2">
        <div class="basis-1/2 m-10 relative">
    <div class="text-center mt-10 mb-16" >
        <h3 class="text-black text-6xl font-light">Medios de pago</h3>
    </div>
        <div class="text-center mt-10 mb-16">
            <h5 class="text-black text-3xl font-light mb-8">Mercado Pago</h5>
            <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
data-preference-id="1273324264-f92cada3-65b7-4a53-a55b-af7cfb015eb6" data-source="button">

</script>
        </div>
        <div class="text-center mt-10 mb-16">
            <h5 class="text-black text-3xl font-light">Transferencia</h5>
            <h5 class="text-black text-4xl font-light mt-4">Alias: zoe.deco.home
        </div>
        <div class="text-center mt-10 mb-16">
            <h5 class="text-black text-3xl font-light">Contra entrega</h5>
            <h5 class="text-black text-4xl font-light mt-4">Si retiras por cualquiera de nuestros puntos de retiro.</h5>
        </div>
    </div>
        <div class="basis-1/2 m-10 relative">
            <img
            class="absolute object-cover rounded-lg w-auto mt-20 "
            src="/img/fotos/Velas5.png"
            alt=""
        />
        </div>
    </div>  
</section>