---

---

<!-- <section class="pt-32 pb-2 bg-claro">
    <div class="text-center mt-10 mb-16">
        <h3 class="text-black text-6xl font-light">Nuestra historia</h3>
    </div>
    <div class="text-center mt-10 mb-16">
        <p class="text-black text-4xl font-light mb-8">
            Zoe Deco & Home nació en mayo de 2021, fruto de la pasión por el
            diseño y la decoración de Sol, su fundadora. <br> Desde entonces, hemos
            trabajado incansablemente para ofrecerte productos y servicios <br> de alta
            calidad que reflejen nuestra visión de un hogar perfecto.
        </p>
    </div>
    <div class="flex flex-row gap-2">
        <div class="basis-1/2 m-10 relative ml-60">
            <div class="text-center mt-24 mb-16">
                <h3 class="text-black text-6xl font-light">
                    Un poco sobre mí...
                </h3>
            </div>
            <div class="text-center mt-10 mb-16">
                <p class="text-black text-4xl font-light mt-4">
                    Soy Sol, la persona detrás de Zoe Deco & Home. <br>Me apasiona
                    el diseño, la decoración y hacer que los espacios sean
                    acogedores y únicos. <br>Me encantaría conocerte y ayudarte a
                    encontrar lo que buscas para tu hogar.
                </p>
            </div>
            <div class="text-center mt-20 mb-16">
                <h3 class="text-black text-6xl font-light">
                    ¡Gracias por elegirnos!
                </h3>
            </div>
        </div>
        <div class="basis-1/2 m-10 mt-0 relative">
            <img
                class="relative object-cover rounded-lg w-4/6 mt-10 ml-20"
                src="/img/fotos/Sol.jpeg"
                alt=""
            />
        </div>
    </div>
</section> -->

<section class="pt-32 pb-2 bg-claro">
    <div class="text-center mt-10 mb-16">
        <h3 class="text-black text-6xl font-light">Nuestra historia</h3>
    </div>
    <div class="text-center mt-10 mb-16">
        <p class="text-black text-2xl sm:text-4xl font-light m-4">
            Zoe Deco & Home nació en mayo de 2021, fruto de la pasión por el
            diseño y la decoración de Sol, su fundadora. <br> Desde entonces, hemos
            trabajado incansablemente para ofrecerte productos y servicios <br> de alta
            calidad que reflejen nuestra visión de un hogar perfecto.
        </p>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 sm:gap-2">
        <div class="basis-full sm:basis-1/2 m-10 relative sm:ml-20">
            <div class="text-center mt-24 mb-16">
                <h3 class="text-black text-4xl sm:text-6xl font-light">
                    Un poco sobre mí...
                </h3>
            </div>
            <div class="text-center mt-10 mb-16">
                <p class="text-black text-2xl sm:text-4xl font-light m-4">
                    Soy Sol, la persona detrás de Zoe Deco & Home. <br>Me apasiona
                    el diseño, la decoración y hacer que los espacios sean
                    acogedores y únicos. <br>Me encantaría conocerte y ayudarte a
                    encontrar lo que buscas para tu hogar.
                </p>
            </div>
            <div class="text-center mt-20 mb-16">
                <h3 class="text-black text-4xl sm:text-6xl font-light">
                    ¡Gracias por elegirnos!
                </h3>
            </div>
        </div>
        <div class="basis-full sm:basis-1/2 m-10 mt-0 relative">
            <img
                class="relative object-cover rounded-lg w-full sm:w-4/6 mt-10 sm:ml-20"
                src="/img/fotos/Sol.jpeg"
                alt="Imagen de Sol"
            />
        </div>
    </div>
</section>

