---
---
<section>
        <img class="w-full h-full object-cover object-center mt-16" src=/img/fotos/macrameSec.jpg> <!--autoplay muted loop -->
        </img>
    <!-- <div class="relative inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-8xl text-black mt-5">Haz de tu casa un hogar...</h1>
    </div> -->
</section>