---

---

<!-- <section>
    <div class="overflow-hidden mb-5 mt-5 h-screen relative">
        <img
            class="size-[100%] object-cover absolute top-0 left-0 brightness-50"
            src="/img/fotos/macrameSec.jpg"
        />
        <!--autoplay muted loop -->
        <!-- <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-20 text-8xl text-white mt-5"
        >
            Convertí tu hogar en su mejor versión
        </span>
    </div>
</section> -->

<section>
    <div class="overflow-hidden mb-5 mt-5 h-screen relative">
        <img
            class="w-full h-full object-cover absolute top-0 left-0 brightness-50"
            src="/img/fotos/macrameSec.jpg"
        />
        <span
            class="absolute inset-0 flex flex-col items-center justify-center gap-10 sm:gap-16 md:gap-20 text-3xl sm:text-4xl md:text-6xl text-white mt-5 px-4"
        >
            Convertí tu hogar en su mejor versión
        </span>
    </div>
</section>

