---

---

<section>
    <div class="overflow-hidden mb-5 mt-5 h-screen relative">
        <img
            class="size-[100%] object-cover absolute top-0 left-0 brightness-50"
            src="/img/fotos/macrameSec.jpg"
        />
        <!--autoplay muted loop -->
        <span
            class="absolute inset-0 flex flex-col items-center justify-center text-center  gap-20 text-6xl                                                        xl text-white mt-5"
        >
            Convertí tu hogar en su mejor versión
        </span>
    </div>
</section>
