---
---
<section class="pt-2 pb-2 bg-medioAlto">
    <div class="text-center mt-10 mb-16" >
        <h3 class="text-black text-6xl font-light" >Puntos de retiro</h3>
    </div>
        <div class="flex flex-col justify-center items-center text-center mt-10 mb-16 ">
            <h5 class="text-black text-4xl font-light mb-8">Colegiales-Caba</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9353569298546!2d-58.45582411153132!3d-34.58050218654673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5e8857365fd%3A0x2cf64a92887846cb!2sAv.%20%C3%81lvarez%20Thomas%20%26%20Federico%20Lacroze%2C%20C1426%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1728272799873!5m2!1ses!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="flex flex-col justify-center items-center text-center mt-10 mb-16 ">
            <h5 class="text-black text-4xl font-light mb-8">San Andres-Buenos Aires</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.7436261425923!2d-58.53190972350527!3d-34.56004605519441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7157d6b838f%3A0x30962d38dde83ea0!2sG%C3%BCiraldes%20%26%203%20de%20Febrero%2C%20B1650%20San%20Andres%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1728273146947!5m2!1ses!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="flex flex-col justify-center items-center text-center mt-10 mb-16 ">
            <h5 class="text-black text-4xl font-light mb-8">Villa Adelina-Buenos Aires</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.86072152697!2d-58.54694802634641!3d-34.53175651125468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0a4f9106de3%3A0xaf7162ae7ce62e6e!2sAv.%20Bernardo%20Ader%20%26%20J.%20Ingenieros%2C%20B1606%20Villa%20Adelina%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1728273316422!5m2!1ses!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="flex flex-col justify-center items-center text-center mt-10 mb-16 ">
            <h3 class="text-black text-6xl font-light mb-8">Envíos por correo a todo el país</h3>
        </div>
</section>